body {
	margin: 10px;
	font: normal 15px Tahoma, Geneva, sans-serif; 
	color: #222222;
}
pre {
	background-color: #ddd;
}
input {
	width: 30em;
}
input.medium {
	width: 12em;
}
input.small {
	width: 7em;
}
input.smaller {
	width: 1em;
}
.box {
	border: 2px solid #bbb;
	padding: 4px;
	margin: 3px;
	width: 30em;
}
.hint {
	color: #888;
}
.boxsmall {
	border: 2px solid #bbb;
	padding: 4px;
	margin: 3px;
	width: 12em;
}
.label {
	padding: 3px;
	margin: 2px;
}
.placeInfo {
	font-weight: bold;
	padding: 3px;
	margin: 2px;
	background-color: #eee;
}
.smalltext {
	font-size: 10px;
}

#place_info {
	background-color: #ccc;
	padding: 3px; 
}