body {
	margin: 10px;
	font: normal 15px Tahoma, Geneva, sans-serif; 
	color: #222222;
}
input {
	width: 30em;
}
input.medium {
	width: 12em;
}
input.small {
	width: 7em;
}
input.smaller {
	width: 1em;
}
.box {
	border: 2px solid #bbb;
	padding: 4px;
	margin: 3px;
	width: 30em;
}
.hint {
	color: #888;
}
.boxsmall {
	border: 2px solid #bbb;
	padding: 4px;
	margin: 3px;
	width: 12em;
}